@import '../../colours.scss';

.group-item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20rem;
  max-width: 100%;
  padding: 0.75rem 0 0.75rem 0.5rem;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $surface-weak;
  }

  &:focus {
    outline: solid 1px $blue-normal;
    outline-offset: -1px;
  }

  &--active {
    background-color: $surface-weakest;
  }

  &__image {
    min-width: 2.5rem;
    width: 2.5rem;
    min-height: 2.5rem;
    height: 2.5rem;
    background-color: $purple-normal;
    border-radius: 50%;
    margin-right: 0.5rem;
    position: relative;
  }

  &__indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    position: relative;
    left: calc(100% - 0.8rem);
    top: calc(100% - 0.8rem);
    margin: 0;

    &--red {
      background-color: $red-normal;
    }

    &--yellow {
      background-color: $yellow-normal;
    }

    &--green {
      background-color: $green-normal;
    }
  }

  &__text {
    color: $white-strongest;
    font-family: 'Roboto', sans-serif;
    padding-right: 0.5rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.125rem;
  }

  &__last-chat {
    font-size: 0.85rem;
    color: $white-strong;
    font-family: $chat-font-family;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
