@import '../../colours.scss';

.chat-item {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 1.2rem;
  font-family: $chat-font-family;
  color: $white-strongest;
  width: 100%;
  padding: 0.125rem 0 0.125rem 1rem;
  margin: 0;

  &__time {
    color: $green-normal;
    margin: 0;
  }

  &__name {
    font-weight: bold;
    margin: 0;
  }

  &__message {
    margin: 0;
  }
}
