@import '../../colours.scss';

.search {
  display: flex;
  flex-grow: 1;
  margin: 0 0 0 0.5rem;
  box-sizing: border-box;
  background-color: $surface-moderate;
  border: none;
  color: $white-strong;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
  }
}
